.keyboard{
  display: flex;
  height: 80px;
  justify-content: center;
}

.keyboard p{
  width: 50px;
}

.notes-row{
  display: flex;
  justify-content: center;
}
.notes-row h5{
  padding: 23px;
}

.unclicked_key{
  background-color: rgb(255, 255, 255);
  padding: 25px;
}

.clicked_key{
  background-color: rgb(0, 0, 0);
  padding: 25px;
}